<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://googleapis.com">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Nathan Odle's Portfolio</title>
</head>
<body>
    
    <div id="intro">
        <div id="contacts">
            <h1>Nathan Odle</h1>
            <p class="contacts">mr.nathan.odle@gmail.com</p>
            <div id="github">
                <img id="github-logo" src=" {{ url_for('static', filename='images/GitHub_Invertocat_White.png')}}" alt="github logo">
                <a href="https://github.com/NathanPODE" target="_blank" rel="noopener noreferrer" style="color: white;">
                    <p class="contacts">github.com/NathanPODE</p>
                </a>
            </div>
        </div>
        <img src=" {{ url_for('static', filename='images/IMG_6316.JPG')}}" alt="A picture of Nathan odle" class="nathans-photo">
    </div>

    
    <div id="info">
        <div id="about-section">
            <h2>About</h2>
            <p>I'm a Computer Science major with a Math minor at California State University, Northridge (CSUN), having previously earned my Associate’s degree from College of the Canyons.</p>
            <p>As an aspiring Full-Stack Software Developer, I sit at the intersection of logical backend architecture and intuitive frontend experience. I enjoy building applications with robust, efficient server-side logic while keeping a sharp focus on modern UI design, seamless reactivity, and clean visual aesthetics. Driven by problem-solving and grounded in strong mathematical fundamentals, I build web solutions that are as performant under the hood as they are engaging on screen.</p>
        </div>
        <div id="tools-section">
            <h2>Languages and Tools</h2>
            <div class="skill-flow">
                <div class="skills-track">
                    <div id="js-logo" class="skill-square" style="animation-delay: 0s;"> 
                        <div class="popup-text">JavaScript</div>
                        <img class="tools-logo" src="{{ url_for('static', filename='images/js.png') }}">
                    </div>
                    <div id="python-logo" class="skill-square" style="animation-delay: -2.94s;">
                        <div class="popup-text">Python</div>
                        <img class="tools-logo" src="{{ url_for('static', filename='images/python.png')}}">
                    </div>
                    <div id="css-logo" class="skill-square" style="animation-delay: -5.88s;">
                        <div class="popup-text">CSS</div>
                        <img class="tools-logo" src="{{ url_for('static', filename='images/css.png') }}">
                    </div>
                    <div id="react-logo" class="skill-square" style="animation-delay: -8.82s;">
                        <div class="popup-text">React</div>
                        <img class="tools-logo" src="{{ url_for('static', filename='images/React.png') }}">
                    </div>
                    <div id="git-logo" class="skill-square" style="animation-delay: -11.76s;">
                        <div class="popup-text">Git</div>
                        <img class="tools-logo" src="{{ url_for('static', filename='images/git.png') }}">
                    </div>
                    <div id="sql-logo" class="skill-square" style="animation-delay: -14.71s;">
                        <div class="popup-text">SQL</div>
                        <img class="tools-logo" src="{{ url_for('static', filename='images/white-sql.png') }}">
                    </div>
                    <div id="mysql-logo" class="skill-square" style="animation-delay: -17.65s;">
                        <div class="popup-text">MySQL</div>
                        <img class="tools-logo" src="{{ url_for('static', filename='images/mysql.png') }}">
                    </div>
                    <div id="postgres-logo" class="skill-square" style="animation-delay: -20.59s;">
                        <div class="popup-text">PostgreSQL</div>
                        <img class="tools-logo" src="{{ url_for('static', filename='images/postgres.png') }}">
                    </div>
                    <div id="epxress-logo" class="skill-square" style="animation-delay: -23.53s;">
                        <div class="popup-text">Express</div>
                        <img class="tools-logo" src="{{ url_for('static', filename='images/white-express.png') }}">
                    </div>
                    <div id="flask-logo" class="skill-square" style="animation-delay: -26.47s;">
                        <div class="popup-text">Flask</div>
                        <img class="tools-logo" src="{{ url_for('static', filename='images/white-flask.png') }}">
                    </div>
                    <div id="java-logo" class="skill-square" style="animation-delay: -29.41s;">
                        <div class="popup-text">Java</div>
                        <img class="tools-logo" src="{{ url_for('static', filename='images/Java.png') }}">
                    </div>
                    <div id="c-logo" class="skill-square" style="animation-delay: -32.35s;">
                        <div class="popup-text">C</div>
                        <img class="tools-logo" src="{{ url_for('static', filename='images/C.png') }}">
                    </div>
                    <div id="c++-logo" class="skill-square" style="animation-delay: -35.29s;">
                        <div class="popup-text">C++</div>
                        <img class="tools-logo" src="{{ url_for('static', filename='images/c++.png') }}">
                    </div>
                    <div id="githubtools-logo" class="skill-square" style="animation-delay: -38.24s;">
                        <div class="popup-text">GitHub</div>
                        <img class="tools-logo" src="{{ url_for('static', filename='images/github-white.png') }}">
                    </div>
                    <div id="nodejs-logo" class="skill-square" style="animation-delay: -41.18s;">
                        <div class="popup-text">Node.js</div>
                        <img class="tools-logo" src="{{ url_for('static', filename='images/Nodejs.png') }}">
                    </div>
                    <div id="html-logo" class="skill-square" style="animation-delay: -44.12s;">
                        <div class="popup-text">HTML</div>
                        <img class="tools-logo" src="{{ url_for('static', filename='images/html.png') }}">
                    </div>
                    <div id="vscode-logo" class="skill-square" style="animation-delay: -47.06s;">
                        <div class="popup-text">VS Code</div>
                        <img class="tools-logo" src="{{ url_for('static', filename='images/vscode.png') }}">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2 id="past-projects">Past Projects</h2>
    <div id="project-section">
        {% for project in projects %}
        <a class="project-link" href="{{ project.link }}" target="blank" rel="noopener noreferrer">
            <img class="project-photo" src="{{ url_for('static', filename= project.image)}}">
            <div class="project-body">
                <h3 class="card-title">{{ project.title }}</h3>
            </div>
        </a>
        {% endfor %}
    </div>

    <script src="{{ url_for('static', filename ='js/scripts.js') }}"></script>
</body>
</html>